<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href=".\assets\fontawesome\css\all.css" rel="stylesheet">
    <link rel="stylesheet" href=".\css\stylesheet.css" type="text/css">
    <link rel="icon" href="https://http2.mlstatic.com/static/org-img/homesnw/mercado-libre.png" type="image/x-icon">
    <title>Mercado Liebre Argentina - Envíos Gratis</title>
</head>

<body>
    <header class="home">
        <div class="firstrow">
            <a href="/"><img class="logo" src=".\img\logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
            <form class="combo-buscador" id="combo-buscador" name="combo-buscador"><input name="search" id="search-input" aria-expanded="true" aria-controls="true" type="search" class="search-input"
                    label="Ingresá lo que quieras encontrar" placeholder="Buscar productos, marcas y más ..."
                    maxlength="120"  autocorrect="off" spellcheck="false" autocomplete="off"
                    value="" role="combobox">

                <button type="submit" title="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>


            <p class="compra-en-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                de crédito</p>
        </div>

        <div class="second-row">
            <nav class="nav-home">
                <div class="menues">
                    <ul class="izq">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>


                    </ul>
                    <ul class="der">
                        
                            <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                        
                        
                            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                       
                        
                            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                        

                    </ul>
                </div>
        </div>


        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </nav>


    </header>
    <main class="home">
        <div class="banner">
            <img src=".\img\img-home-banner.jpg" alt="banner home">
        </div>
        <b class="titulares">Basado en tu última visita</b>
        <section class="seccion-productos">

            <article class="producto">
                <img src=".\img\img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <strong class="titulo-producto">Cafetera Moulinex</strong>
                </div>

            </article>
            <article class="producto">
                <img src=".\img\img-macbook-pro-2019.jpg" alt="MacBoox Pro 2019">
                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <strong class="titulo-producto">MacBook Pro 2019 </strong>
                </div>
            </article>
            <article class="producto">
                <img src=".\img\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <strong class="titulo-producto">Samsung Galaxy S10</strong>
                </div>

            </article>
            <article class="producto"">
                <img src=" .\img\img-tv-samsung-smart.jpg" alt="SmartTv Samung 43">

                <div class="product-desc-box""><i class=" fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <strong class="titulo-producto"> SmartTv Samsung 43"</strong>
                </div>


            </article>

        </section>
        <b class="titulares">Ofertas</b>
        <section class="seccion-productos">

            <article class="producto">
                <img src=".\img\img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <strong class="titulo-producto">Cafetera Moulinex</strong>
                </div>

            </article>
            <article class="producto">
                <img src=".\img\img-macbook-pro-2019.jpg" alt="MacBoox Pro 2019">
                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <strong class="titulo-producto">MacBook Pro 2019 </strong>
                </div>
            </article>
            <article class="producto">
                <img src=".\img\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                <div class="product-desc-box">
                    <i class="fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <strong class="titulo-producto">Samsung Galaxy S10</strong>
                </div>

            </article>
            <article class="producto"">
                <img src=" .\img\img-tv-samsung-smart.jpg" alt="SmartTv Samung 43">

                <div class="product-desc-box""><i class=" fa-solid fa-truck product-delivery-icon"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <strong class="titulo-producto"> SmartTv Samsung 43"</strong>
                </div>


            </article>

        </section>

    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>


        <section>
            <i class="fa-solid fa-gift"></i>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>


        <section>
            <i class="fa-solid fa-user-shield"></i>
            <b>Seguridad, de principio a fin</b>
            <p>No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>



    </footer>
    <section class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
</body>

</html>