<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href=".\assets\fontawesome\css\all.css" rel="stylesheet">
    <link rel="stylesheet" href=".\css\stylesheet.css" type="text/css">
    <link rel="icon" href="https://http2.mlstatic.com/static/org-img/homesnw/mercado-libre.png" type="image/x-icon">
    <title>Mercado Liebre Argentina - Envíos Gratis</title>
</head>

<body>
    <header class="login">
        <div class="firstrow">
            <a href="/"><img class="logo" src=".\img\logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
            <div class="combo-buscador"><input type="search" class="search-input"
                    label="Ingresá lo que quieras encontrar" placeholder="Buscar productos, marcas y más…"
                    maxlength="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off"
                    value="" role="combobox">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <p class="compra-en-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                de crédito</p>
        </div>


        <nav>
            <div class="menues">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="/register">Creá tu cuenta </a> <i class="fa-solid fa-id-card"></i></li>
                    <li><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>

                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

        <img class="banner" src=".\img\img-home-banner.jpg" alt="banner home">
    </header>

    <main class="login">
        <form  class="login" action="login.html" method="post" enctype="multipart/form-data">

            
            <input type="text" id="usuario" name="usuario" autocomplete="username" placeholder="usuario" pattern="/^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/" maxlength="20" requiered>
            
            <input type="password" id="constrasena"  autocomplete="current-password" name="contrasena" placeholder="constraseña" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>

            <button class="submit" type="submit">Enviar</button>
            

        </form>

    </main>

    <footer class="login">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>


        <section>
            <i class="fa-solid fa-gift"></i>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>


        <section>
            <i class="fa-solid fa-user-shield"></i>
            <b>Seguridad, de principio a fin</b>
            <p>No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>

    </footer>
</body>

</html>