body {

    font-family: 'Roboto', sans-serif;

    font-size: 12px;

    margin: 0;
}



* {
    box-sizing: border-box;
}

header.home {
    background-color: #EAC926;
    width: 100%;
    /* height: 25vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    top: 0;
    z-index: 1;
}


header.register,
header.login {
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    top: 0;
    z-index: 1;
}

.firstrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vh 1vw;
}

.search-input {
    max-width: 200px;
    height: 28px;
    border: 0;
    outline: none;
}

a .logo {
    width: 50%;
    animation-name: rebote;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-delay: 0.1s;

}

@keyframes rebote {
    0% {
        width: 50%
    }

    30% {
        width: 60%;
    }

    70% {
        width: 40%;
    }

    100% {
        width: 50%;
    }
}




.combo-buscador {
    text-align: center;
}


.firstrow input {
    width: 80%;
}

.fa-magnifying-glass {
    background-color: #ebebeb;
    height: 20px;
    padding: 2px;

}

.menues {
    display: none;
}

.second-row {
    /* position: relative; */
    display: flex;
    /* grid-row: 1; */
    /* grid-column: 1; */
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}




.der {
    right: 0;
    display: inline;
    margin: 0;
    z-index: 2;
    float: right;
    margin-left: 20vw;
}



.burger-menu {
    background-color: #03264c;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    display: block;
    width: 40px;
    padding: 5px;
    text-align: center;
    margin: 20px;
    border-radius: 7px;
    margin-left: 45%
}



img {
    overflow: hidden;
    /* overflow-clip-margin: content-box; */
    display: block;
}

.banner img {
    width: 100vw;
}

main {
    background-color: #ebebeb;
}

main.home {
    margin-top: 232px;
}


main.login {
    padding: 1vh 15vw;
    text-align: left;
    margin: 390px 1vw 0 2vw;
    width: 100%;
    overflow: auto;
}
main.register {
    padding: 1vh 15vw;
   
    text-align: left;
    margin: 250px 1vw 0 2vw;
    width: 100%;
}
main .titulares {
    margin: 1vh 2vw;
    font-size: 24px;
    color: #666;
    background-color: #ebebeb;
    display: block;
    overflow: visible;
    overflow: visible;
}

.login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vh 10%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login button .submit {
    margin: 1vh 1vw;
    background-color: #1259c3;
    color: #FFF;
    border-radius: 5px;
    min-width: 90px;

}

.login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.seccion-productos {
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* min-width: 300px; */
    /* align-items: center; */
    justify-content: center;
    /* min-width: 300px; */
    /* align-items: center; */
}

article.producto {
    margin: 10px;
    width: 80vw;
}

article.product {
    max-width: 80vw;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article img {
    width: 80vw;
    margin-bottom: 0px;
}


.product-desc-box>.product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;
}

.product-delivery-icon {
    border-radius: 50%;
    border-color: #39b54a;
    color: #39b54a;
    transition-property: rotate;
    transition-duration: 450ms;

}

.product-delivery-icon:hover {
    rotate: -90deg;
}


.product-desc-box {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    min-height: 160px;
    border-top: 3px solid #ebebeb;
}

.precio {
    display: inline;
    margin: 10px;
    font-size: 18px;
}

.descuento {
    display: inline;
    margin: 10px;
    color: #39b54a;
    font-size: 16px;
}

.titulo-producto {
    margin: 0px 60px 10px 0px;
    color: #666;
    font-size: 16px;
    padding-left: 10px;
    transition-property: opacity;
    transition-duration: 100ms;
    display: block;
}

.titulo-producto:hover {
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form.combo-buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
}

form input,
form label,
form button {
    margin: 8px 8px;
    font-weight: bold;
    border-radius: 5px;

}

main form button{
    background-color: #1259c3;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px ;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

form button {
    background-color: #fff;
    color: #000;
    border: 0;
}

form button .fa-magnifying-glass {
    color: #000;
    background-color: rgba(100, 100, 100, 0)
}

form button.submit {
    border-radius: 4px;
    background-color: #1259c3;
    color: #FFF;
    padding: 3px;
    width: 184px;
}

form button.submit:hover {
    background-color: #0022AA;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    display: blocK !important;
    text-align: center;
    color: #1259c3;
    transition-property: color;
    transition-duration: 100ms;
}

footer i:hover {
    color: #39b54a;
}

footer section {
    display: block;
    text-align: center;
    background-color: #fff;
    margin: 0;
    color: #666;
    padding: 30px 30%;
}

footer {
    background-color: #fff;
    margin: 0 7vw;
}



/*tablet*/
@media (min-width: 361px) {

    header.home {
        position: relative;
    }

    .menues {
        display: flex;
        /* position:relative; */
        /* flex-wrap: nowrap; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
        /* align-items: flex-end; */
        align-items: center;
        justify-content: center;
        /* margin: 0 9vw; */
        /* width: 99vw; */
    }


    .der {
        position: relative;
        text-align: right;
    }

    .izq {
        position: sticky;
        left: 1%;
        bottom: 2%;
        display: block;
        margin: 0 1vw;
    }


    .menues ul li a {
        color: #000;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        margin:1vh 1vw;
    }


    li {
        list-style: none;
        display: inline-block;
        /* margin: 0 2vw; */
    }

    .logo {
        width: 30%
    }



    .compra-en-cuotas {
        width: 30%;
    }

    .burger-menu {
        display: none
    }

    main.home {
        margin-top: 0;
    }

    main.register{
        margin: 0;
        max-width: 100vw;
        padding:1vh 25vw;
    }

    .seccion-productos {
        flex-direction: row;
    }

    article.producto {
        width: 40vw;
    }

    article.producto img {
        width: 40vw;
    }

    .Copyright {
        margin: 0 10px;
    }

}

/*desktop*/
@media (min-width: 769px) {
    article.producto {
        width: 20vw;
    }

    article.producto img {
        width: 20vw;
    }

    .product-desc-box {
        min-height: 160px;
    }

    .titulo-producto {
        opacity: 0.01;
    }

    article.producto:hover .titulo-producto {
        opacity: 1;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    footer section {
        padding: 10px;
    }

    li{
        margin: 0 2vw;
    }


}