body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

.firstrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.search-input {
    max-width: 45%;
    height: 20px;
    margin-left: 2%;
}

.logo {
    width: 50%;

}

.combo-buscador {
    display: flex;
    width: 50%;
    align-items: flex-end;
}

.firstrow input {
    width: 99%;
}

.fa-magnifying-glass {
    background-color: #ebebeb;
    height: 20px;
    flex-shrink: 1;
}

.menues {
    display: none;
}


.burger-menu {
    background-color: #03264c;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    display: block;
    width: 40px;
    padding: 5px;
    text-align: center;
    margin: 20px;
    border-radius: 7px;
    margin-left: 45%
}

.banner {
    margin: 0px;
    width: 100%;
}

main {
    background-color: #ebebeb;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:70%;
    flex-shrink: 1;
    justify-content: center;
    margin: 3vh 10vw;
    padding:1%;
}

form label {
    font-weight: bold;
    margin:10px 0;
}

form input {
    margin:10px 0;
    border-radius: 3px;
    padding:3px;
}

form button {
    margin: 10px 0;
    padding: 4px;
    color:#fff;
    background-color: #1259c3;
    border-radius: 4px;
}

.titulares {
    margin: 1vh 10vw;
    display:block;
    min-width: 338px;
    font-size: 24px;
    color: #666;
    background-color: #ebebeb;
}

.seccion-productos {
    background-color: #ebebeb;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* max-width:25vw; */
    /* justify-content: space-evenly; */
    margin-left: 1vw;
}

article {
    margin: 10px;
}

article.product {
    max-width: 80vw;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article img {
    width: 80vw;
    margin-bottom: 0px;
}


.product-desc-box>.product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;
}

.product-delivery-icon {
    border-radius: 50%;
    border-color: #39b54a;
    color: #39b54a
    
}

.product-desc-box {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-height: 10vh;
    width:80vw;
    min-height: 138px;
}

.precio {
    display: inline;
    margin: 10px;
    font-size: 18px;
}

.descuento {
    display: inline;
    margin: 10px;
    color: #39b54a;
    font-size: 16px;
}

.titulo-producto {
    margin: 0px 60px 10px 0px;
    color: #666;
    font-size: 16px;
    padding-left: 10px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    display: blocK !important;
    text-align: center;
    color: #1259c3;
}

footer section {
    display: block;
    text-align: center;
    background-color: #fff;
    margin: 0;
    color: #666;
    padding: 30px 30%;
}

footer {
    background-color: #fff;
}

/*tablet*/
@media (min-width: 361px) {
    .logo {
        width: 30%;
    }
    
    .combo-buscador {
        display: flex;
        width: 30%;
    }
    .burger-menu{
        display:none;
    }

    .menues ul{
        display:flex !important;
        flex-direction: row;
        margin: 0 10%;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 10px;
    }

    .menues ul li a{
        color: #000 !important;
        text-decoration: none !important;
        list-style: none;      
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    main .seccion-productos {
        flex-direction: row;
        flex-wrap: wrap;
        /* width: 100%; */
        margin-left:10vw;
    }

    .producto {
        width: 35vw;
        /* display: flex; */
        /* flex-direction: column; */
    }

    .producto img {
        width: 25vw;
    }
    .product-desc-box {
        height: 10vh;
        width: 25vw;
    }
}

/*desktop*/
@media (min-width: 769px) {

    .producto {
        width: 15vw;
   }

    .producto img {
        width: 16vw;
    }

    .product-desc-box {
        height: 20vh;
        min-height: 140px;
        width: 16vw;
    }
}